# Predicting price movements for stocks and cryptocurrencies

### Installation of libraries (consider conda install for working env first)

In [1]:
# pip install pandas

In [2]:
# pip install requests_html

In [3]:
# pip install scikit-plot

In [4]:
# pip install tensorflow

In [5]:
# pip install --upgrade pip

In [6]:
# pip install yahoo_fin

In [7]:
# pip install yfinance --upgrade --user --no-cache-dir

In [8]:
# pip install --user pycaret

In [9]:
# pip install scikit-learn==0.23.2

### Importing relevant libraries

In [37]:
import ftplib
import io
import pandas as pd
import requests
import requests_html
import numpy as np

from pycaret.classification import *
from pycaret.regression import *

import yfinance as yf
from yahoo_fin.stock_info import get_data, get_top_crypto, get_analysts_info
# Dow: tickers_dow()
# Nasdaq: tickers_nasdaq()
# S&P500: tickers_sp500()
# Others: tickers_other()
import yahoo_fin.stock_info as si
import yahoo_fin.options as ops

import tensorflow as tf


### Yahoo_fin has two modules - stock_info and options.
---------
#### Stock_info has the following methods:

#### get_analysts_info(), get_balance_sheet(), get_cash_flow(), get_data(), get_day_gainers(), get_day_losers(), get_day_most_active(), get_holders(), get_income_statement(), get_live_price(), get_quote_table(), get_top_crypto(), get_stats(), get_stats_valuation(), tickers_dow(), tickers_nasdaq(), tickers_other(), tickers_sp500()
---------
#### And options has:

#### get_calls(), get_expiration_dates(), get_options_chain(), get_puts()
---------

#### And there are the methods you can’t use without requests_html are:

#### stock_info module, get_day_gainers(), get_day_most_active(), get_day_losers(), get_top_crypto(), get_expiration_dates()
---------

In [26]:
# ticker: case insensitive ticker of the desired stock/bond
# start_date: date you want the data to start from (mm/dd/yyyy)
# end_date: date you want the data to end (mm/dd/yyyy)
# index_as_date: {True, False}. Default is true. If true then the dates of the records are set as the index, else they are returned as a separate column.
# interval: {“1d”, “1wk”, “1mo”}. Refers to the interval to sample the data: “1d”= daily, “1wk”= weekly, “1mo”=monthly.
# get_data(ticker, start_date = None, end_date = None, index_as_date = True, interval = “1d”)

amazon_weekly= get_data("amzn", start_date="12/04/2009", end_date="12/04/2021", index_as_date = True, interval="1mo")
amazon_weekly.head()

,open,high,low,close,adjclose,volume,ticker
2010-01-01,136.250000,136.610001,118.120003,125.410004,125.410004,230861000,AMZN
2010-02-01,123.180000,124.860001,113.820000,118.400002,118.400002,210145800,AMZN
2010-03-01,118.699997,138.190002,117.529999,135.770004,135.770004,158042600,AMZN
2010-04-01,135.800003,151.089996,130.779999,137.100006,137.100006,173025100,AMZN
2010-05-01,137.199997,139.440002,117.519997,125.459999,125.459999,140909900,AMZN

In [27]:
cryptos = get_top_crypto()
cryptos.head()

,Symbol,Name,Price (Intraday),Change,% Change,Market Cap,Volume in Currency (Since 0:00 UTC),Volume in Currency (24Hr),Total Volume All Currencies (24Hr),Circulating Supply
0,BTC-USD,Bitcoin USD,47715.790000,57.810000,0.12,9.025480e+11,2.865600e+10,2.865600e+10,2.865600e+10,18915000.0
1,ETH-USD,Ethereum USD,3753.310000,-21.920000,-0.58,4.464730e+11,1.503200e+10,1.503200e+10,1.503200e+10,118955000.0
2,BNB-USD,Binance Coin USD,523.820000,-1.080000,-0.21,8.737400e+10,2.087000e+09,2.087000e+09,2.087000e+09,166801000.0
3,USDT-USD,Tether USD,1.000100,-0.000100,-0.01,7.834900e+10,5.911100e+10,5.911100e+10,5.911100e+10,78345000000.0
4,HEX-USD,HEX USD,0.339665,0.022129,6.97,5.890200e+10,7.495200e+07,7.495200e+07,7.495200e+07,173411000000.0

In [28]:
#list of columns that are categorical
cat_f = ['ticker']

In [38]:
s = setup(data = amazon_weekly, target = 'high', fold_strategy = 'timeseries',  fold = 3, categorical_features = cat_f, session_id = 123)

In [42]:
best = compare_models(sort = 'MAE') #default is 'Accuracy'

In [43]:
huber = create_model('huber')